.about-me-section {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(4, 0, 23) 50%);
  padding-top: 100px;
  padding-bottom: 100px;
}
.aboutme-block {
  color: rgb(232, 240, 255);
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 70%;
  .item {
    width: 100%;
    p {
      font-size: 20px;
      margin-left: 25px;
      line-height: 1.6;
    }
  }
}

.title {
  color: aliceblue;
  font-size: 50px;
  min-height: 80px;
}
