
.nav_section {
  scroll-behavior: smooth;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 10;
  .nav_content {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

    .logo a {
      margin-left: 10px;
      cursor: pointer;
      font-weight: bold;
      font-size: 20px;
      color: white;
      transition: color 0.3s ease;
    }
    .logo a:hover {
      color: cornflowerblue;
    }
    .menu_list {
      margin-right: 10px;
      ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        li {
          a {
            display: block;
            color: cornflowerblue;
            cursor: pointer;
            font-size: 17px;
            font-weight: bold;
            padding: 15px;
            transition: color 0.3s ease;
          }
          a:hover {
            color: aqua;
          }
        }
      }
    }
  }
}
